/*import google font*/
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: #aedeeb;
  background-color: rgb(0, 0, 0);
}
.container {
  width: 700px;
  background-color: rgb(255, 255, 255);
  border: 5px solid #cbf4ff;
  border-radius: 10px;
  position: fixed;
  padding: 45px 35px;
}
.container h2 {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  font-weight: bold;
  font-size: 40px;
}
.wrapper {
  margin: 20px 20px;
  font-size: 22px;
}
.wrapper .input-box {
  position: relative;
}
.wrapper .pass-indicator {
  width: 100%;
  height: 5px;
  position: relative;
  margin-top: 2rem;
  background: #cecece;
  border-radius: 25px;
}
.pass-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}
.pass-indicator#weak::before {
  width: 20%;
  background: rgb(252, 140, 140);
}
.pass-indicator#medium::before {
  width: 50%;
  background: rgb(248, 211, 108);
}
.pass-indicator#strong::before {
  width: 100%;
  background: rgb(100, 236, 168);
}
.wrapper .pass-length {
  margin-top: 10px;
}
.pass-length .details {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.input-box input {
  width: 100%;
  height: 45px;
  font-size: large;
  color: rgb(110, 172, 187);
  border: 1px solid #dddddd;
  letter-spacing: 1.5px;
}
.input-box span {
  position: absolute;
  right: 15px;
  line-height: 50px;
  cursor: pointer;
  color: rgb(175, 177, 180);
}
.pass-length input {
  width: 100%;
  height: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
}
.pass-settings .options {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pass-settings .options .option {
  display: flex;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}
/* user cannot unselect checkbox*/
.options .option:first-child {
  pointer-events: none;
}
.options .option:first-child input {
  opacity: 0.7;
}
.options .option label {
  cursor: pointer;
  padding-left: 8px;
}
/* Button CSS */
.wrapper .generate-btn {
  width: 100%;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(123, 202, 255, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #a3d0dd;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.generate-btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.generate-btn:hover {
  color: #53bad6;
  box-shadow: rgba(148, 239, 255, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #c7c9c9 0 -3px 0 inset;
  transform: translateY(-2px);
}

.generate-btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
/*background canvas*/
canvas {
  display: block;
}
